project:
  type: book
  # pre-render: quarto render LICENSE.md --to html

book:
  title: "Guidebook to doing research software engineering in a team-setting"
  subtitle: "A living document for how we work and build things in the Seedcase project"
  search:
    type: textbox
  favicon: _extensions/seedcase-project/seedcase-theme/logos/seedcase/icon.svg
  author:
    - name: "Luke W. Johnston"
      affiliation: "Steno Diabetes Center Aarhus"
      orcid: "https://orcid.org/0000-0003-4169-2616"
    - name: "Signe Kirk Brødbæk"
      affiliation: "Steno Diabetes Center Aarhus"
      orcid: "https://orcid.org/0009-0000-2208-7088"
    - name: "Kristiane Beicher"
      affiliation: "Steno Diabetes Center Aarhus"
      orcid: "https://orcid.org/0000-0001-7556-9566"
    - name: "Marton Vago"
      affiliation: "Steno Diabetes Center Aarhus"
      orcid: "https://orcid.org/0009-0007-4628-655X"
  date: last-modified
  repo-url: "https://github.com/seedcase-project/guidebook"
  site-url: "https://guidebook.seedcase-project.org/"
  body-header: |
    ::: {.callout-note appearance="default"}
    This guidebook is written following the [diátaxis](https://diataxis.fr/how-to-guides/) "how-to guide" style.
    And because this document reflects how we work in the [Seedcase Project](https://seedcase-project.org/),
    it is living and constantly evolving. It won't ever be in a state of "done".
    :::
  chapters:
    - index.qmd
    - part: "Workflows"
      chapters:
        - workflows/software.qmd
        - workflows/commits.qmd
    - part: "Iterations"
      chapters:
        - iterations/index.qmd
        - iterations/start.qmd
        - iterations/during.qmd
        - iterations/end.qmd
    - part: "Python"
      chapters:
        - python/code.qmd
        - python/tests.qmd
    - part: "Operations"
      chapters:
        - operations/security.qmd
  appendices:
    - CONTRIBUTING.md
    - CHANGELOG.md
  page-footer:
    center:
      - text: "License: CC BY 4.0 {{< fa brands creative-commons >}} {{< fa brands creative-commons-by >}}"
        href: LICENSE.md

format:
  seedcase-theme-html:
    include-before-body:
      - "includes/site-counter.html"

editor:
  markdown:
    wrap: 72
    canonical: true
